<h1>Your List of Two Flights Landing Together</h1>

<div class="flight_one_wrapper">
  <div class="flight_one">
    <h2>Flight One</h2>
    <ul>
        <!-- .each loop for the array after PricedItineraries -->
      <% if @response["PricedItineraries"].present? %>
        <% @response["PricedItineraries"].each do |data| %>
          <div class="flight_result">
          <li>
            $<%= data["AirItineraryPricingInfo"]["ItinTotalFare"]["TotalFare"]["Amount"] %>
          </li>
          <!-- parsing for departing airport -->
          <li>
          From: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["DepartureAirport"]["LocationCode"] %>
          </li>
          <li>
            <!-- parsing for departure times hashed and arrays here -->
              Departs: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["DepartureDateTime"].gsub(/[T]/," ") %>
          </li>

          <li>
          <!-- parsing for arriving airport -->
          To: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["ArrivalAirport"]["LocationCode"] %>
          </li>
          <li>
              <!-- parsing for arrival times  -->
              Arrives: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["ArrivalDateTime"].gsub(/[T]/," ")%>
          </li>
          <br>
          <li>
          <!-- parsing for return departure airport -->
          Returns From: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["ArrivalAirport"]["LocationCode"] %>
          </li>
          <li>
            <!-- parsing for return departure -->
            Returns: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][1]["FlightSegment"][0]["DepartureDateTime"].gsub(/[T]/," ")%>
          </li>
           <li>
          Returns To: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["DepartureAirport"]["LocationCode"] %>
          </li>
          <li>
            <!-- parsing for return arrival -->
            Return Arrival: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][1]["FlightSegment"][0]["ArrivalDateTime"].gsub(/[T]/," ")%>
          </li>
          <li>
            <!-- parsing for operating airline -->
          Airline is <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["MarketingAirline"]["Code"] %>
          </li>
          </div>
        <% end %>
       <% end %>
    </ul>
  </div><!-- flight one -->
</div><!-- flight one wrapper -->


<div class="flight_two_wrapper">
  <div class="flight_two">
    <h2>Flight Two</h2>
    <ul>
        <!-- .each loop for the array after PricedItineraries -->
      <% if @response["PricedItineraries"].present? %>
        <% @response2["PricedItineraries"].each do |data| %>
        <div class="flight_result">
          <li>
            $<%= data["AirItineraryPricingInfo"]["ItinTotalFare"]["TotalFare"]["Amount"] %>
          </li>
          <!-- parsing for departing airport -->
          <li>
          From: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["DepartureAirport"]["LocationCode"] %>
          </li>
          <li>
            <!-- parsing for departure times hashed and arrays here -->
              Departs: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["DepartureDateTime"].gsub(/[T]/," ") %>
          </li>

          <li>
          <!-- parsing for arriving airport -->
          To: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["ArrivalAirport"]["LocationCode"] %>
          </li>

          <li>
              <!-- parsing for arrival times  -->
              Arrives: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["ArrivalDateTime"].gsub(/[T]/," ")%>
          </li>
          <br>
          <li>
          <!-- parsing for return departure airport -->
          Returns From: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["ArrivalAirport"]["LocationCode"] %>
          </li>
          <li>
            <!-- parsing for return departure -->
            Returns: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][1]["FlightSegment"][0]["DepartureDateTime"].gsub(/[T]/," ")%>
          </li>
           <li>
          Returns To: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["DepartureAirport"]["LocationCode"] %>
          </li>
          <li>
            <!-- parsing for return arrival -->
            Return Arrival: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][1]["FlightSegment"][0]["ArrivalDateTime"].gsub(/[T]/," ")%>
          </li>
          <li>
            <!-- parsing for operating airline -->
          Airline is <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["MarketingAirline"]["Code"] %>
          </li>
          </div>
        <% end %>
       <% end %>
    </ul>
  </div><!-- flight two -->
</div><!-- flight two wrapper -->
