<ul>
    <!-- .each loop for the array after PricedItineraries -->
  <% @response["PricedItineraries"].each do |data| %>
    <li>
      $<%= data["AirItineraryPricingInfo"]["ItinTotalFare"]["TotalFare"]["Amount"] %>
    </li>
    <li>
      <!-- parsing for departure times hashed and arrays here -->
        Departs: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["DepartureDateTime"] %>
    </li>
    <li>
        <!-- parsing for arrival times  -->
        Arrives: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["ArrivalDateTime"]%>
    </li>
    <li>
      <!-- parsing for operating airline -->
    Airline is <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["MarketingAirline"]["Code"] %>
    </li>
  <% end %>
</ul>

<ul>
    <!-- .each loop for the array after PricedItineraries -->
  <% @response2["PricedItineraries"].each do |data| %>
    <li>
      $<%= data["AirItineraryPricingInfo"]["ItinTotalFare"]["TotalFare"]["Amount"] %>
    </li>
    <li>
      <!-- parsing for departure times hashed and arrays here -->
        Departs: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["DepartureDateTime"] %>
    </li>
    <li>
        <!-- parsing for arrival times  -->
        Arrives: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["ArrivalDateTime"]%>
    </li>
    <li>
      <!-- parsing for operating airline -->
    <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["MarketingAirline"]["Code"] %>
    </li>
  <% end %>
</ul>
