<h1>Miles apart? Meet Somewhere...</h1>
  <div class="logo_wrapper">
  <div class="logo">
    <img alt="Icon" src="/assets/logo.jpg" />
  </div>
</div>
<!-- <img alt="background" src="/assets/wander_party_beach.jpg" /> -->
  <div class="wrapper">
    <div class="to_from">
      <%= form_tag "/flights" do %>
        <p>
          <%= text_field_tag :origin_input, nil, :placeholder =>"Departing from..." %>
          <%= text_field_tag :origin_input2, nil, :placeholder =>"Departing from..." %><br>
          <div class="destination_input">
            <br><%= text_field_tag :destination_input, nil, :placeholder =>"Flying to..."  %><br>
          </div><!-- destination input -->
          <%= label_tag :depart_date  %>
           <%= date_field_tag :depart_date, id: "dateField" %>
           <br>
        <div class="date_input">
           <%= label_tag :return_date, "Return Date" %>
           <%= date_field_tag :return_date, id: "dateField" %>
        </div><!-- date_input -->
        </p>

        <p id="find-flights">
          <%= submit_tag "Find Flights" %>
        </p>
      <% end %>
    </div><!-- to_from -->
  </div><!-- wrapper -->










