
<div class="wrapper">
  <div class="to_from"
    <%= form_for :welcome do |f| %>
      <p>
        <%= f.text_field :from, :placeholder => 'From' %>
        <%= f.text_field :from, :placeholder => 'From' %><br>
        <br><%= f.text_field :from, :placeholder => 'To' %><br>
        <%=f.label :date, "Date" %>
         <%=f.date_select :date, id: "dateField" %>
      </p>

      <p id="find-flights">
        <%= f.submit "Find Flights" %>
      </p>
    <% end %>

  <ul>
    <!-- .each loop for the array after PricedItineraries -->
    <%= @response["PricedItineraries"].each do |data| %>
    <li>
      $<%= data["AirItineraryPricingInfo"]["ItinTotalFare"]["TotalFare"]["Amount"] %>
    </li>
    <li>
      <!-- parsing for departure times hashed and arrays here -->
      Departs: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["DepartureDateTime"] %>
    </li>
    <li>
      <!-- parsing for arrival times  -->
      Arrives: <%= data["AirItinerary"]["OriginDestinationOptions"]["OriginDestinationOption"][0]["FlightSegment"][0]["ArrivalDateTime"]%>
    </li>

    <% end %>

  </ul>


  </div><!-- to_from -->
</div><!-- wrapper -->





