
<div class="wrapper">
  <div class="to_from">
    <%= form_tag "/flights" do %>
      <p>
        <%= text_field_tag :origin_input  %>
        <%= text_field_tag :origin_input %><br>
        <br><%= text_field_tag :destination_input  %><br>
        <%= label_tag :depart_date  %>
         <%= date_select :depart_date, id: "dateField" %>
         <br>
         <%= label_tag :return_date, "Return Date" %>
         <%= date_select :return_date, id: "dateField" %>
      </p>

      <p id="find-flights">
        <%= submit_tag "Find Flights" %>
      </p>
    <% end %>



  </div><!-- to_from -->
</div><!-- wrapper -->








